python>=3.13.5
python-dotenv>=1.0.1
django==5.2.8
djangorestframework>=3.16.1
adrf>=0.1.12
djangorestframework-simplejwt>=5.5.1
psycopg2-binary>=2.9.11
django-cors-headers>=4.9.0
postgres>=4.0
django-webpack-loader>=3.2.2
channels>=4.3.2
wagtail>=7.2.1
celery>=5.5.3
redis>=7.1.0
django-redis>=6.0.0
drf-yasg>=1.21.11
drf-spectacular>=0.29.0
bcrypt>=5.0.0
daphne>=4.2.1
whitenoise>=6.11.0
